.idea/
.kotlintest/
.settings/
.project
.classpath
*.log

.gradle
build

ll-mini-ilisp-kotlin-llvm/

/src/main/kotlin/io/littlelanguages/data/Tuple.kt
/src/main/kotlin/io/littlelanguages/data/Union.kt
/src/main/kotlin/io/littlelanguages/data/Yammable.kt
/src/main/kotlin/io/littlelanguages/alml/static/Parser.kt
/src/main/kotlin/io/littlelanguages/alml/static/Scanner.kt
/src/main/kotlin/io/littlelanguages/scanpiler

/src/main/c/*.o
/test.*
/src/main/c/testmain

/src/samples/*.bc
/src/samples/*.ll
/src/samples/hello
/src/samples/euler-001
/src/samples/primes
/src/samples/divide-by-zero
